body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: azure; */
    background-image: linear-gradient(135deg, #10191f 40%, #3c201f 50%);
    color: white;

}

header {
    background-color: #15131a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
 a:hover{
    color: red;
    background-color: aquamarine;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('contact-hero.jpg') no-repeat center center/cover;
    /* color:black; */
    text-align: center;
    padding: 100px 20px;

}

.hero h1 {
    margin: 0;
    font-size: 3em;
}

.hero p {
    font-size: 1.2em;
}

.contact {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    text-align: left;
}

.contact-form, .contact-info {
    width: 45%;
}

.contact-form h2, .contact-info h2 {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #15131a;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}

.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

footer {
    background-color: #15131a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
    bottom: 0;
    width: 100%;
    text-shadow: #7a1313;
    font-size: larger;
}
